@import '../../styles/color-schema.scss';

.gpi-dropdown {
  position: relative;
  display: inline-block;
  outline: none;
  button::--moz-focus-inner {
    border: 0;
  }
}

.gpi-dropdown__main-button {
  position: relative;
  padding-right: 50px;
  padding-left: 10px;

  .gpi-dropdown__chevron {
    fill: $black;
  }

  svg {
    position: absolute;
    right: 20px;
    height: 20px;
  }
}

.gpi-dropdown__main-button--fixed-width {
  @extend .gpi-dropdown__main-button;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gpi-dropdown__options {
  position: absolute;
  display: none;
  width: 224px;
  max-height: 300px;
  overflow-y: scroll;
  background-color: $white;
  border: 1px solid $gray;
}

.gpi-dropdown__options--topleft {
  @extend .gpi-dropdown__options;
  bottom: 57px;
  left: 0;
  border-radius: 10px 10px 10px 0;
}

.gpi-dropdown__options--topright {
  @extend .gpi-dropdown__options;
  bottom: 57px;
  right: 0;
  border-radius: 10px 10px 0 10px;
}

.gpi-dropdown__options--bottomleft {
  @extend .gpi-dropdown__options;
  left: 0;
  top: 57px;
  border-radius: 0 10px 10px 10px;
}

.gpi-dropdown__options--bottomright {
  @extend .gpi-dropdown__options;
  right: 0;
  top: 57px;
  border-radius: 10px 0 10px 10px;
}

.gpi-dropdown__options--open {
  @extend .gpi-dropdown__options;
  display: block;
  z-index: 1000;
}

.gpi-dropdown__button {
  border: 0;
  background-color: transparent;
  display: block;
  width: 100%;
  height: 50px;
  text-align: left;
  padding: 0 15px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  outline: none;
  &:focus,
  &:hover {
    background-color: $black;
    color: $white;
  }
  &:disabled {
    background-color: transparent;
    cursor: not-allowed;
    color: graytext;
  }
}

.gpi-dropdown__button--selected {
  background-color: $red;
  color: $white;
}

.gpi-dropdown__arrow {
  width: 20px;
  position: absolute;
  right: 20px;
}

.gpi-dropdown__arrow--open {
  @extend .gpi-dropdown__arrow;
  transform: rotate(180deg);
}

.gpi-dropdown__arrow--closed {
  @extend .gpi-dropdown__arrow;
}

.gpi-dropdown__main-button--disabled {
  cursor: not-allowed;
  color: $gray;
}
