@import '../../styles/color-schema.scss';

.gpi-btn {
  min-width: 180px;
  border-radius: 30px;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  outline: 0;
  width: auto;
  border-width: 1px;
  border-style: solid;
  &:active {
    border-top-width: 2px;
    border-bottom-width: 0px;
  }
}

.gpi-btn--full-width {
  width: 100%;
}

.gpi-btn__primary {
  @extend .gpi-btn;
  background-color: $red;
  color: $white;
  border-color: $red;
  &:focus {
    background-color: $dark-red;
    border-color: $dark-red;
  }
  &:hover {
    background-color: $dark-red;
    border-color: $dark-red;
  }
}

.gpi-btn__primary--disabled {
  @extend .gpi-btn__primary;
  background-color: $light-red;
  border-color: transparent;
  cursor: not-allowed;
  &:hover,
  &:focus {
    background-color: $light-red;
    border-color: transparent;
  }
}

.gpi-btn__neutral {
  @extend .gpi-btn;
  background-color: $white;
  color: $black;
  border-color: $gray;
  &:focus,
  &:hover {
    background-color: $gray;
  }
}

.gpi-btn__secondary {
  @extend .gpi-btn__neutral;
  &:focus,
  &:hover {
    background-color: $dark-red;
    border-color: $dark-red;
    color: $white;
  }
}

.gpi-btn__black {
  @extend .gpi-btn__neutral;
  background-color: #00000088;
  border-color: white;
  color: white;
  &:focus,
  &:hover {
    background-color: #000000bb;
  }
}

.gpi-btn__black--disabled {
  @extend .gpi-btn__black;
  cursor: not-allowed;

  border-color: white;
  background-color: #55555588;
  color: white;
  &:focus,
  &:hover {
    background-color: #55555588;
    border-color: white;
  }
}

.gpi-btn__club {
  @extend .gpi-btn__neutral;
  background-color: rgb(21, 75, 94);
  border-color: rgb(21, 75, 94);
  color: white;
  &:focus,
  &:hover {
    background-color: rgb(11, 65, 84);
    border-color: rgb(11, 65, 84);
  }
}
.gpi-btn__club--disabled {
  @extend .gpi-btn__club;
  cursor: not-allowed;

  background-color: rgb(111, 165, 184);
  border-color: rgb(111, 165, 184);
  color: white;
  &:focus,
  &:hover {
    background-color: rgb(111, 165, 184);
    border-color: rgb(111, 165, 184);
  }
}
.gpi-btn__success {
  @extend .gpi-btn__neutral;
  background-color: #00b93f;
  border-color: #00b93f;
  color: $white;
  &:focus,
  &:hover {
    background-color: #009e30;
    border-color: #009e30;
  }
}

.gpi-btn__success--disabled {
  @extend .gpi-btn__success;
  cursor: not-allowed;
  background-color: #9cedb7;
  border-color: #9cedb7;
  &:focus,
  &:hover {
    background-color: #9cedb7;
    border-color: #9cedb7;
  }
}

.gpi-btn__secondary--disabled,
.gpi-btn__neutral--disabled {
  @extend .gpi-btn__neutral;
  color: $gray;
  cursor: not-allowed;
  &:hover,
  &:focus {
    background-color: $white;
    color: $gray;
    border-color: $gray;
  }
}

.gpi-btn__lg {
  min-height: 50px;
  font-size: 15px;
}
.gpi-btn__md {
  min-height: 40px;
  font-size: 15px;
}
.gpi-btn__sm {
  min-height: 30px;
  font-size: 12px;
}
