$white: #f8f8f9;
$red: #dd0500;
$dark-red: #c40000;
$light-red: rgba(221, 5, 0, 0.5);
$black: #444242;
$gray: rgba(0, 0, 0, 0.078);
$coral: #ff4b50;
$light-coral: #ff999c;
$disabled: #aaa9aa;
$light-gray: #e7e7e7;
