@import '../../styles/color-schema.scss';

.input-gpi {
  height: 50px;
  border-radius: 30px;
  border: 1px solid $gray;
  background-color: $white;
  padding-left: 21px;
  padding-right: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: 0;
  font-size: 15px;
  &:focus {
    -webkit-box-shadow: inset 0px 0px 0px 2px rgba(231, 231, 231, 1);
    -moz-box-shadow: inset 0px 0px 0px 2px rgba(231, 231, 231, 1);
    box-shadow: inset 0px 0px 0px 2px rgba(231, 231, 231, 1);
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
}
