@import '../../styles/color-schema.scss';

$md-size: 23px;
$sm-size: 18px;

.gpi-check__container {
  position: relative;
  &.gpi-check__container--sm {
    height: $sm-size;
    width: $sm-size;
    > label {
      height: $sm-size;
      width: $sm-size;
      > div {
        height: $sm-size;
        width: $sm-size;
        &:after {
          bottom: 6px;
          left: 3px;
          width: 10px;
          height: 4px;
          border-left: 2px solid;
          border-bottom: 2px solid;
        }
      }
    }
  }
  &.gpi-check__container--md {
    height: $md-size;
    width: $md-size;
    > label {
      height: $md-size;
      width: $md-size;
      > div {
        height: $md-size;
        width: $md-size;
        &:after {
          bottom: 8px;
          left: 4px;
          width: 14px;
          height: 7px;
          border-left: 3px solid;
          border-bottom: 3px solid;
        }
      }
    }
  }
  box-sizing: border-box;
  & *,
  & *:after {
    box-sizing: border-box;
  }
  & input {
    width: auto;
    display: none;
  }

  > label {
    position: absolute;
  }

  > label div {
    position: relative;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid $gray;
    background-color: $white;

    &:after {
      content: '';
      opacity: 0;

      transition: opacity 0.2s ease;
      position: absolute;
      transform: rotate(-50deg);
      border-color: $black;
    }
  }
  &.checked {
    > label div:after {
      opacity: 1;
    }
  }
}
