@import '../../styles/color-schema.scss';
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.sliders-container {
  position: relative;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 50px;
  width: 100%;
  input[type='range'] {
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    height: 46px;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: auto;
      position: relative;
      overflow-x: visible !important;
      appearance: none;
      background: url('./slider-icon.svg');
      background-repeat: no-repeat;
      background-size: 40px;
      background-position: center;
      border: 0;
      height: 40px;
      width: 40px;
      cursor: pointer;
      z-index: 100;
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
    }

    &::-moz-range-thumb {
      pointer-events: auto;
      position: relative;
      overflow-x: visible !important;
      appearance: none;
      background: url('./slider-icon.svg');
      background-repeat: no-repeat;
      background-size: 40px;
      background-position: center;
      border: 0;
      height: 40px;
      width: 40px;
      cursor: pointer;
      z-index: 100;
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
    }

    &::-ms-thumb {
      pointer-events: auto;
      position: relative;
      overflow-x: visible !important;
      appearance: none;
      background: url('./slider-icon.svg');
      background-repeat: no-repeat;
      background-size: 40px;
      background-position: center;
      border: 0;
      height: 40px;
      width: 40px;
      cursor: pointer;
      z-index: 100;
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
    }

    &::-webkit-slider-runnable-track {
      z-index: 0;
      -webkit-box-sizing: inherit;
      -moz-box-sizing: inherit;
      box-sizing: inherit;
    }
  }
}

.tracks-container {
  $border-width: 2px;
  position: absolute;
  bottom: 0;
  left: 18px;
  height: 0px;
  width: calc(100% - 38px);
  -webkit-transform: translateX(1px);
  -moz-transform: translateX(1px);
  -o-transform: translateX(1px);
  -ms-transform: translateX(1px);
  transform: translateX(1px);
  z-index: 2;
  border: $border-width solid $black;
  border-radius: 10px;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  .active-track {
    -webkit-transform: translate(-$border-width, -$border-width);
    -moz-transform: translate(-$border-width, -$border-width);
    -o-transform: translate(-$border-width, -$border-width);
    -ms-transform: translate(-$border-width, -$border-width);
    transform: translate(-$border-width, -$border-width);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    border: $border-width solid $red;
    border-radius: 10px;
  }
}

.sliders-container span {
  font-family: 'Poppins', sans-serif;
  display: block;
  text-align: center;
  width: 40px;
  pointer-events: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  cursor: default;
  position: absolute;
  top: -40px;
  z-index: 6;
  color: $white;
}
