@import '../../styles/color-schema.scss';

.sliders-container {
  position: relative;
  height: 50px;
  width: 100%;
}

.tracks-container {
  $border-width: 2px;
  position: absolute;
  bottom: 0;
  left: 18px;
  height: 0px;
  width: calc(100% - 38px);
  -webkit-transform: translateX(1px);
  -moz-transform: translateX(1px);
  -o-transform: translateX(1px);
  -ms-transform: translateX(1px);
  transform: translateX(1px);
  z-index: 2;
  border: $border-width solid $black;
  border-radius: 10px;
  .active-track {
    -webkit-transform: translate(-$border-width, -$border-width);
    -moz-transform: translate(-$border-width, -$border-width);
    -o-transform: translate(-$border-width, -$border-width);
    -ms-transform: translate(-$border-width, -$border-width);
    transform: translate(-$border-width, -$border-width);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    border: $border-width solid $red;
    border-radius: 10px;
  }
}

input[type='range'] {
  position: absolute;
  pointer-events: none;
  top: 0;
  width: 100%;
  height: 46px;
  border: none;
  background: transparent;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: auto;
    position: relative;
    overflow-x: visible !important;
    appearance: none;
    background: url('./slider-icon.svg');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    border: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 100;
  }

  &::-moz-range-thumb {
    pointer-events: auto;
    position: relative;
    overflow-x: visible !important;
    appearance: none;
    background: url('./slider-icon.svg');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    border: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 100;
  }

  &::-ms-thumb {
    pointer-events: auto;
    position: relative;
    overflow-x: visible !important;
    appearance: none;
    background: url('./slider-icon.svg');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
    border: 0;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 100;
  }

  &::-webkit-slider-runnable-track {
    z-index: 0;
  }
}

.sliders-container span {
  font-family: 'Poppins', sans-serif;
  pointer-events: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  cursor: default;
  position: absolute;
  top: -40px;
  z-index: 6;
  color: $white;
}
